@import "./src/util/variables";

.listing-view {
  .system-message {
    margin: 2rem 0;
  }

  &__content {
    @extend %col-nowrap;
    align-items: center;
  }

  .upload-auction-btn {
    position: relative;

    input[type=file] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.local-auctions {
  width: 48rem;

  &__content {
    table {
      flex: 1 1 auto;
      max-height: 20rem;
    }

    tbody {
      overflow-y: auto;

      tr {
        cursor: pointer;

        &:hover {
          background-color: lighten($header-gray, 5);
        }

        &:active {
          background-color: darken($header-gray, 5);
        }
      }

      td:nth-of-type(1) {
        @extend %bold;
        text-transform: uppercase;
      }
    }

    td {
      @extend %ellipsis;

      &:nth-of-type(1) {
        flex: 1 1 22%;
      }
      &:nth-of-type(2) {
        flex: 1 1 28%;
      }
      &:nth-of-type(3) {
        flex: 1 1 25%;
      }
      &:nth-of-type(4) {
        flex: 1 1 25%;
      }
    }
  }

  &__status {
    &--listed {
      color: rgba($warning-yellow, .8);
    }

    &--started {
      color: rgba($success-green, .8);
    }

    &--ended {
      color: $inactive-text-gray;
    }
  }
}
