@import "./src/util/variables";

.listing-view {
  .system-message {
    margin-top: 2rem;
  }

  &__content {
    @extend %col-nowrap;
    align-items: center;
    margin: 2rem 0;
  }

  .upload-auction-btn {
    position: relative;

    input[type=file] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.local-auctions,
.remote-auctions {
  width: 48rem;

  &__error-message {
    @extend %h5-font;
    color: $error-red;
    margin-right: .5rem;
  }

  &__delete-group {
    @extend %row-nowrap;
    align-items: center;
  }

  &__content {
    table {
      flex: 1 1 auto;
      max-height: 20rem;
    }

    tbody {
      overflow-y: auto;

      tr {
        cursor: pointer;

        &:hover {
          background-color: lighten($header-gray, 5);
          td:nth-of-type(1) {
            text-decoration: underline;
          }
        }

        &:active {
          background-color: darken($header-gray, 5);
        }
      }

      td:nth-of-type(1) {
        @extend %bold;
        text-transform: uppercase;
      }
    }
  }

  &__status {
    &--listed {
      color: rgba($warning-yellow, .8);
    }

    &--started {
      color: rgba($success-green, .8);
    }

    &--ended {
      color: $inactive-text-gray;
    }
  }

  .delete-btn {
    color: $white;
    opacity: .1;
    transition: opacity 150ms ease-in-out;

    &:hover {
      opacity: .5;
      color: $error-red;
    }

    &:active {
      opacity: .7;
      color: $error-red;
    }
  }

  &__modal-actions {
    @extend %row-nowrap;
    justify-content: flex-end;

    button + button {
      margin-left: .5rem;
    }
  }

  &__empty-row {
    justify-content: center;
    text-align: center;
    padding: 1rem;
    cursor: default !important;
  }
}

.local-auctions {
  td {
    @extend %ellipsis;
    @extend %row-nowrap;
    align-items: center;

    &:nth-of-type(1) {
      flex: 1 0 20%;
    }
    &:nth-of-type(2) {
      flex: 1 1 30%;
    }
    &:nth-of-type(3) {
      flex: 1 0 15%;
    }
    &:nth-of-type(4) {
      flex: 1 0 15%;
    }
    &:nth-of-type(5) {
      flex: 0 1 2rem;
    }
  }
}

.remote-auctions {
  margin-bottom: 2rem;

  &__content {
    table {
      max-height: 24rem;
    }
  }

  tbody {
    td:nth-of-type(1) {
      color: $btn-blue;
    }
  }

  td {
    @extend %ellipsis;
    @extend %row-nowrap;
    align-items: center;

    &:nth-of-type(1) {
      flex: 1 0 20%;
    }
    &:nth-of-type(2) {
      flex: 1 1 30%;
    }
    &:nth-of-type(3) {
      flex: 1 0 20%;
    }
    &:nth-of-type(4) {
      flex: 1 0 20%;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .listing-view {
    &__content {
      margin: .25rem 0;
      width: fit-content;
    }
  }

  .remote-auctions {
    margin-bottom: .25rem;
  }

  .local-auctions,
  .remote-auctions {
    width: 100vw;

    &__content {
      width: 100vw;
      overflow-x: auto;
    }

    table {
      width: 42rem;
      overflow-x: auto;
    }

    tbody {
      overflow-x: hidden;
    }

    td {
      padding: .5rem .75rem;

      &:nth-of-type(2) {
        font-size: .83rem;
      }
    }
  }
}


