$background-gray: #131313;
$header-gray: #191919;
$white: #FFFFFF;
$black: #000000;
$card-header-gray: #222222;
$card-bg-gray: #2b2b2b;

$inactive-text-gray: rgba($white, .2);
$border-gray: rgba($white, .05);
$error-red: #ff0000;
$success-green: #00ff0a;
$warning-yellow: #ffeb3b;
$btn-blue: #00B2FF;
$congrats-gold: #FFE588;
$congrats-text: #B95900;

%flex {
  display: flex;
}

%col-nowrap {
  @extend %flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  @extend %flex;
  flex-flow: row nowrap;
}

%small-font {
  font-size: .8125rem;
  line-height: 1.3125;
}

%lite-font {
  font-size: .875rem;
  line-height: 1.3125;
}

%regular-font {
  font-size: 1rem;
  line-height: 1.3125;
}

%h1-font {
  font-size: 2rem;
  line-height: 1.3125;
}

%h2-font {
  font-size: 1.5rem;
  line-height: 1.3125;
}

%h3-font {
  font-size: 1.17rem;
  line-height: 1.3125;
}

%h5-font {
  font-size: .83rem;
  line-height: 1.3125;
}

%bold {
  font-weight: 600;
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$breakpoint-tablet: 768px;

table {
  @extend %col-nowrap;
  width: 100%;
  border-collapse: collapse;
}

thead {
  @extend %bold;
  @extend %lite-font;
  flex: 0 0 auto;
  background-color: $black;
  color: rgba($white, .5);
  text-transform: uppercase;
}

tr {
  @extend %row-nowrap;

  &:nth-of-type(odd) {
    background-color: rgba($black, .1);
  }
}

td {
  align-items: flex-start;
  flex: 1 1 auto;
  padding: .75rem 1.5rem;
}

tbody {
  flex: 1 1 auto;
  td {
    @extend %lite-font;
  }
}
