$background-gray: #151515;
$header-gray: #2C2C2C;
$white: #FFFFFF;
$black: #000000;

$error-red: #ff0000;
$btn-blue: #00B2FF;

%flex {
  display: flex;
}

%col-nowrap {
  @extend %flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  @extend %flex;
  flex-flow: row nowrap;
}

%small-font {
  font-size: .8125rem;
  line-height: 1.3125;
}

%regular-font {
  font-size: 1rem;
  line-height: 1.3125;
}

%h1-font {
  font-size: 2rem;
  line-height: 1.3125;
}

%h2-font {
  font-size: 1.5rem;
  line-height: 1.3125;
}

%h3-font {
  font-size: 1.17rem;
  line-height: 1.3125;
}

%bold {
  font-weight: 600;
}

