@import "./src/util/variables";

.auction-chart {
  border-color: rgba($btn-blue, .8);

  &__header {
    @extend %row-nowrap;
    padding: 1rem 2rem 0;

    &__data-group {
      @extend %col-nowrap;
      margin-right: 2rem;

      &__label {
        @extend %lite-font;
        text-transform: uppercase;
        color: rgba($white, .9);
      }

      &__value {
        @extend %h3-font;
        @extend %bold;
      }
    }

    &__actions {
      @extend %row-nowrap;
      flex: 1 1 auto;
      justify-content: flex-end;

      button {
        @extend %bold;
        padding: .5rem 2rem;
        font-size: 1.125rem;
      }
    }
  }

  .recharts-surface {
    cursor: pointer;
  }

  .xAxis .recharts-cartesian-axis-tick {
    &:nth-of-type(1) {
      text.recharts-cartesian-axis-tick-value {
        text-anchor: start;
      }
    }

    &:last-of-type {
      text.recharts-cartesian-axis-tick-value {
        text-anchor: end;
      }
    }
  }

  .x-marker {
    height: 1.5rem;
    width: 10rem;
    position: relative;
    z-index: 200;
    div {
      @extend %bold;
      height: 1rem;
      padding: .25rem 0;
      border-radius: .125rem;
      text-align: center;
      background-color: darken($btn-blue, 10);
    }
  }

  .y-marker {
    height: 1.5rem;
    width: 8rem;
    position: relative;
    z-index: 200;
    div {
      @extend %bold;
      height: 1rem;
      padding: .25rem 0;
      border-radius: .125rem;
      text-align: center;
      background-color: darken($btn-blue, 10);
    }
  }
}


@media (max-width: $breakpoint-tablet) {
  .auction-chart {
    &__header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      &__actions {
        grid-column: 1 / span 2;
        grid-row: 2;
        margin-top: 2rem;

        button {
          width: 100%;
          justify-content: center;
        }
      }
    }

  }
}
