@import "./src/util/variables";

.domain-detail {
  @extend %col-nowrap;

  &__content {
    padding: 1rem;

    &__row {
      @extend %col-nowrap;

      &__label {
        @extend %lite-font;
        color: rgba($white, .2);
        text-transform: uppercase;
      }

      &__value {
        @extend %row-nowrap;
        @extend %h3-font;
        align-items: center;
        margin-top: .25rem;

        .copy-btn {
          margin-left: .5rem;
          color: $white;
          opacity: .1;
          transition: opacity 150ms ease-in-out;

          &:hover {
            opacity: .2;
          }

          &:active {
            opacity: .3;
          }
        }
      }
    }

    &__row + &__row {
      margin-top: 1rem;
    }
  }
}
