@import "./src/util/variables";

.auction {
  @extend %col-nowrap;
  max-width: 48rem;
  margin: 2rem auto;

  .auction-status,
  .domain-detail,
  .comparables,
  .auction-chart {
    margin-top: 1rem;
  }
}
