@import "./src/util/variables";

.auction {
  @extend %col-nowrap;
  max-width: 48rem;
  margin: 2rem auto;

  .auction-status,
  .domain-detail,
  .comparables,
  .auction-chart,
  .auction-info {
    margin-top: 1rem;
  }

  .auction-sold {
    margin-bottom: 1rem;
  }

}

@media (max-width: $breakpoint-tablet) {
  .auction {
    margin: .25rem 0;

    .auction-status,
    .domain-detail,
    .comparables,
    .auction-chart,
    .auction-info {
      margin-top: .25rem;
    }
  }
}

