@import "./src/util/variables";

.card {
  @extend %col-nowrap;
  background-color: $card-bg-gray;
  border-radius: .1875rem;
  color: $white;
  cursor: default;

  &__header {
    @extend %row-nowrap;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $border-gray;
    background-color: $card-header-gray;

    &__title {
      @extend %h3-font;
      @extend %bold;
      text-transform: uppercase;
    }

    &__actions {
      @extend %row-nowrap;
      align-items: center;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
  }
}
