@import "./src/util/variables";

.app-content {
  @extend %col-nowrap;
  margin: 0 auto;
  color: $white;
  width: 48rem;
}

@media (max-width: $breakpoint-tablet) {
  .app-content {
    width: 100vw;
  }
}
