@import "./src/util/variables";

.header {
  @extend %row-nowrap;
  height: 3.75rem;
  background-color: $header-gray;
  justify-content: center;

  &__content {
    @extend %row-nowrap;
    align-items: center;
    flex: 1 1 auto;
    padding: 0 1rem;
    max-width: 48rem;
    box-sizing: border-box;

    &__l {
      flex: 1 1 auto;

      .icon {
        cursor: pointer;
      }
    }

    &__r {
      @extend %row-nowrap;
      justify-content: flex-end;
      flex: 1 1 auto;
      color: $white;

      .icon {
        color: $white;
        opacity: .1;
        transition: opacity 150ms ease-in-out;

        &:hover {
          opacity: .2;
        }

        &:active {
          opacity: .3;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .header {
    padding: 0 1rem;
  }
}
