@import "./src/util/variables";

.comparables {
  @extend %col-nowrap;

  &__empty-row {
    text-align: center;
    padding: 1rem;
  }

  &__content {
    @extend %col-nowrap;
    overflow-y: hidden;
    overflow-x: auto;

    table {
      flex: 1 1 auto;
      max-height: 20rem;

      tr.loading {
        @extend %row-nowrap;
        justify-content: center;
        align-items: center;
      }
    }

    tbody {
      overflow-y: auto;

      td:nth-of-type(1) {
        color: $btn-blue;
      }
    }

    td {
      @extend %ellipsis;

      &:nth-of-type(1) {
        flex: 1 1 30%;
        font-weight: 600;
      }
      &:nth-of-type(2) {
        flex: 1 1 20%;
      }
      &:nth-of-type(3) {
        flex: 1 1 25%;
      }
      &:nth-of-type(4) {
        flex: 1 1 25%;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .comparables {
    table {
      width: 42rem;
      overflow-x: auto;
    }

    tbody {
      overflow-x: hidden;
    }

    td {
      padding: .5rem .75rem;
    }
  }
}
